html{
    font-family: 'Raleway', sans-serif;
}

:root{
    --purple-color-text: #7050E5;
    --orange-color: #FF8B00;
}

.container{
    max-width: 1600px;


    margin: 0 auto;

}

.wrapper{
    width: 100%;
}


// GREETINGS


.greetings{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 810px;
    background: url("@img/Bg.svg")  top no-repeat;
    padding: 32px;
    position: relative;
}

.swiper-container{
    width: 100%;
}

.greetings__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.greetings_logo img{
    width: 78px;
    z-index: 5;
}

.header{
    z-index: 50;
    width: 75%;
    margin-bottom: 129px;
}

.header:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    max-width: 200px;
    height: 100%;
    z-index: 2;
}

.header__nav{
    display: flex;
    align-items: center;

}

.header__body{
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__list{
    display: flex;
    z-index: 2;
    gap:28px;
}

.hidden{
    overflow: hidden;
}

.greetings__burger{
    display: none;
}

.header_item {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    margin-top: 4px;
}

.header_item-active:after{
    position: absolute;
    bottom: -8px;
    content: "";
    height: 3px;
    left: -8%;
    width: 120%;
    background-color: var(--orange-color);
}

.header_item a{
    color: white;
    font-size: 15px;
}

.greetings__left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-right: 11.5%;
}

.greetings__main{
    display: flex;
    color: white;
    justify-content: flex-end; 
    width: 100%;
    align-items: center;
}

.greetings_title{
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 12px;
    letter-spacing: -0.024em;
}

.greetings_subtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    max-width: 460px;
    margin-bottom: 44px;
    margin-left: 9px;
    letter-spacing: -0.02em;
}

.greetings_button{
    width: 174px;
    height: 53px;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 6px;
    span{
        color: white;
        font-size: 14px;
        font-weight: 700;
    }
}

.greetings_picture{
    margin-right: 22%;
}

.greetings__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.greetings__nav img{
    cursor: pointer;
}

.right-nav{
    margin-right: 22px;
}

.greetings__find-out-more{
    display: flex;
    position: absolute;
    bottom: 6%;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
    cursor: pointer;
}

.greetings__find-out-more span{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}


// SUBGREETINGS


.sub-greetings{
    width: 100%;
    color: var(--purple-color-text);
    display: flex;
    justify-content: center;
}

.sub-greetings__container{
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 130px;
}

.sub-greetings__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 255px;
    gap: 15px;
}

.sub-greetings_item-head{
    margin-top: 133px;
    font-size: 60px;
}

.sub-greetings_item-head h3{
    font-weight: 700;
}

.sub-greetings_item-body{
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}


// MAIN


main{
    width: 100%;
}


// WHAT WE DO


.what-we-do{
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.what-we-do__container{
    width: 1000px;
}

.what-we-do__head{
    display: flex;
    justify-content:flex-end ;
}

.what-we-do_head{
    margin-top: 125px;
}

.what-we-do_title{
    margin-top: 25px;
    font-size: 55px;
    font-weight: 700;
    color: var(--purple-color-text);
    margin-bottom: 75px;
    letter-spacing: 0.02em;
 
}

.what-we-do__article{
    padding-left: 32px;
    display: grid;
    grid-template-columns: repeat(3, 290px);
    justify-content: space-around;

    row-gap: 28px;
    
    margin-bottom: 100px;
}

.what-we-do_picture{
    margin-top: -5px;
}

.what-we-do__item{
    width: 281px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.what-we-do__img-box{
    height: 180px;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}
.what-we-do__img-box img{
    margin-bottom: 28px;
    margin-right: 30px;
}


.what-we-do_item-title{
    font-weight: 700;
    font-size: 18px;

    text-transform: uppercase;
    color: var(--purple-color-text);
    margin-bottom: 8px;
    letter-spacing: -0.02em;
}

.what-we-do_item-body{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 21.5px;
    color: #878787;
}


// ABOUT


.about{
    width: 100%;
}

.about__container{
    display: flex;
    max-width: 1325px;
    width: 87%;
    margin: 0 auto;
    margin-top: 103px;
    margin-bottom: 120px;
    justify-content: space-between;
    align-items: center;
}

.about__fcolumn{
    max-width:460px ;
    margin-left: 24px;
    margin-bottom: 45px;
    letter-spacing: -0.05em;
}

.about__scolumn{
    background: url("@img/playerBG.png") ;
    background-size: cover ;
    color: white;
    display: flex;
    max-width: 724px;
    width: 100%;
    gap: 11px;
    height: 452px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0 20px;
}

.about_player-title{
    font-size: 15px;
}

.about_player-subtitle{
    font-weight: 700;
}

.about_play-button{
    width: 86px;
    height: 108px;
    margin-top: 35px;
    cursor: pointer;
}

.about_title{
    color: var(--purple-color-text);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.about_subtitle{
    color: #878787;
    font-size: 14px;
    letter-spacing: -0.008em;
    margin-bottom: 34px;
    line-height: 19px;
}

.about_button, .contact_button{
    width: 171px;
    height: 52px;
    background-color: var(--orange-color);
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
}


// CONTACT


.contact{
    height: 218px;
    width: 100%;
    background-image: url("@img/bg_contact.png");
}

.contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38%;
    height: 100%;
}

.contact_title{
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.contact_button{
    margin-top: 17px;
    margin-right: 3px;
}


// FOOTER


footer{
    background-color: #363636;
    display: flex;
    justify-content: center;
    gap: 130px;
    width: 100%;
    color: white;
    padding-top: 56px;
    padding-bottom: 49px;
    position: relative;

}

footer a{
    color: white;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer-column__title{
    display: flex;
    align-items: center;
    color: var(--orange-color);
    gap: 8px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.footer-column__title img{
    width: 9px;
    height: 10px;
}

.footer-column_item{
    font-size: 14px;
    font-weight: 600;
}

.footer_salt-logo{
    position: absolute;
    right: 2%;
    top: 70%;
}

.subfooter{
    padding: 12px;
    background-color: #252525;
}

.subfooter__text{
    display: flex;
    justify-content: center;
    gap: 5px;
    color: white;
    font-weight: 500;
    font-size: 10px;
}

.subfooter__text img{
    width: 9px;
    height: 10px;
}

// POPUP


.popup{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999999;
    background-color: rgba($color: #000005, $alpha: 0.5);
}


// SWIPER


.swiper-pagination{
    display: flex;
    gap: 10px;
    flex-direction: column;
    right: 0;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    left: auto;
    right: 18px;
    width: auto;
    bottom: 36%
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: none;
    opacity: 1;
}

.swiper-pagination-bullet-active > path{
    fill:var(--orange-color);
    fill-rule: nonzero;
}














@media (max-width: 950px){
    .greetings__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .greetings__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 0.3s;
    }

    .header{
        width: 100%;
        padding-right: 10px;
        // display: none;
    }

    .header__nav {
        position: fixed;
        align-items: flex-start;
        padding: 10px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--purple-color-text);
        top:-100%;
        transition: 0.3s;
    }

    .header__nav.active{
        top:0;
    }

    .header__nav ul{
        flex-direction: column;
    }

    .header__nav a{
        font-size: 25px;
    }

    .greetings__burger:before, .greetings__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s;
    }
    .greetings__burger:before{
        top: 0;
    }
    .greetings__burger:after{
        bottom: 0;
    }

    .greetings__burger.active span{
        transform: scale(0);
    }


    .greetings__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }

    .greetings__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }



}
@media (max-width: 950px) {
    .header_item-active{
        background-color: var(--orange-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    .header_item-active:after{
        display: none;
    }
}
@media (max-width: 767px) {
    .greetings__left{
        margin-right: 0px;
    }
    
}
@media(max-width: 950px) {
    .greetings__main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .greetings__nav{
        display: none;
    }
    .greetings_picture{
        margin-bottom: 65px;
        margin-right: 0;
    }
    .greetings_picture img{
        width: 99px;
        height: 82px;
    }
    .greetings__left{
        margin-right: 0;
    }
    .header{
        margin-bottom: 55px;
    }
    .greetings_subtitle{
        margin-bottom: 28px;
    }
    .greetings_logo{
        width: 39px;
        height: 50px;
    }
    .greetings_title{
        font-size: 32px;
    }
    .greetings_subtitle{
        font-size: 16px;
    }

}
@media(max-width: 767px){
    .sub-greetings__container{
        flex-direction: column;
        align-items: center;
    }

    .sub-greetings__item{
        height: auto;
    }

    .sub-greetings_item-head{
        margin-top: 100px;
    }
}

@media(max-width: 1000px){

    .what-we-do__container,.contact__container{
        width: 100%;
    }

    .what-we-do__head{
        justify-content: center;
    }

    .what-we-do_head{
        padding-left: 23px;
    }

    .what-we-do__article{
        grid-template-columns: repeat(2, 290px);
        justify-content: center;
        column-gap: 15%;
    }
    .what-we-do__head{
        gap: 0;
    }
}

@media(max-width: 767px){
    .what-we-do__article{
        grid-template-columns: repeat(1, 290px);
    }

    .what-we-do_title{
        font-size:45px ;
    }
}
@media (max-width: 1300px) {
    .about__scolumn{
        height: 400px;
    }
    @media (max-width: 1180px) {
        .about__scolumn{
            height: 350px;
        }
        .about_play-button{
            height: 50px;
            width: 50px;
        }
        .about_player-subtitle{
            font-size: 15px;
        }
    }
}
@media(max-width:1000px){
    .about__container{
        flex-direction:column;
        align-items: center;
        gap: 50px;
    }
    .about__scolumn{
        height: 200px;
        width: 340px;
    }
    .contact__container{
        gap: 20%;
    }
}

@media(max-width:767px){
    .contact__container{
        flex-direction: column;
    }
}
@media(max-width: 1500px){
    .footer_salt-logo{
        left: 88%;
    }
}


@media(max-width: 1200px){
    footer{
        flex-wrap: wrap;
        gap: 60px;
    }

    .footer-column_twitter{
        width: 100%;
        text-align: center;
    }

    .footer_salt-logo{
        top:75%;
    }


    @media(max-width:767px){
        .footer_salt-logo{
            top: 0;
            left: 0;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
        }
     
    }
}
@media (max-width: 767px) {
    #player{
        width: 500px;
        height: 280px;
    }
    @media (max-width: 500px) {
        #player{
            width: 340px;
            height: 200px;
        }
    }
}
@media(max-width: 950px){
    .swiper-pagination{
        display: none;
    }
}
@media(max-width: 676px){
    .subfooter__text{
        font-size: 6px;
    }
    .subfooter__text img{
        width: 5px;
        height: 6px;
    }
}



a:hover{
    color: rgba($color: #fdd19a, $alpha: 0.7);
}

a:visited{
    color: white;
}

.swiper-pagination-bullet:hover{
    background-color: white;
}
.swiper-pagination-bullet-active:hover{
    background-color: var(--orange-color);
}
button:hover{
    background-color: #ffa538;
}
